:root {
  --card-border-color: #e5e5e5;
}

.card {
  border: 1px solid var(--card-border-color);
  box-shadow: none !important;
}

.card-footer {
  border-top: 1px solid var(--card-border-color);
  box-shadow: none !important;
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
}
